<!DOCTYPE html>
<html>

<head>
  <title>e-commerce</title>
</head>

<body>
  <div class="container">
    <mat-carousel timings="200ms ease-in" [autoplay]="true" interval="6000" color="white">
      <mat-carousel-slide *ngFor="let slide of slides; let i = index" [image]="slide.pic"></mat-carousel-slide>
    </mat-carousel>

    <h2>Top Sellers</h2>
    <a mat-raised-button routerLink="/add-product">Add Product</a>
    <mat-grid-list cols="3">
      <mat-grid-tile *ngFor="let productList of productLists ">

        <div class="card" style="width: 18rem;">
          <img src={{productList.picture}} class="card-img-top" alt="...">
          <div class="card-body">
            <h4>{{productList.name}}</h4>
            <span> R {{productList.price}}</span>
            <div style="float: right;">
              <a mat-raised-button (click)="ViewProduct(productList)">more info</a>
            </div>
          </div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</body>

</html>