<!DOCTYPE html>
<html>

<head>
    <title>e-commerce</title>
</head>

<body>
    <div>
        <h2>Update Product</h2>
        <div class="container" style="border-style: groove">
            <mat-grid-list cols="2">
                <mat-grid-tile>
                    <form [formGroup]="contactForm" >
                        <h2>Enter Product Info</h2>
                        <div class="form-group">
                          <input matInput formControlName="name"  class="form-control" placeholder={{product.name}}>
                        </div>
                        <div class="form-group">
                          <input matInput formControlName="price" class="form-control" placeholder={{product.price}}>
                        </div>
                        <div class="form-group">
                          <input matInput formControlName="description" class="form-control" placeholder={{product.description}}>
                        </div>
                        <div class="form-group">
                          <input matInput formControlName="picture" class="form-control" placeholder={{product.picture}}>
                        </div>
                        
                        <div>
                          <button mat-raised-button routerLink="" type="submit" color="accent" (click)="onSubmit()">
                            Update Product<i class="material-icons" >save</i>
                          </button>
                        </div>
                    </form>
                    
                </mat-grid-tile>
                <mat-grid-tile>
                    <div class="card">
                        <img src={{product.picture}}
                            class="card-img-top" alt="...">
                    </div>
                </mat-grid-tile>
            </mat-grid-list>
        </div>
    </div>
</body>

</html>